body {
	font-family: sans-serif;
}

body,
section,
article {
	margin: 0;
	padding: 0;
}

h1,
h2 {
	margin-top: 0;
	margin-bottom: 0;
}

h1 {
	font-size: 6em;
}

h1>a,
h2>a
{
	color: currentColor;
	text-decoration: none;
}

:root {
	line-height: 1.6;
}

footer {
	padding: 1em 0;
	text-align: center;
	font-size: smaller;
}

ol {
	padding-left: 1em;
}

ul {
	padding-left: 1.4em;
}

li {
	clear: both;
}

li+li {
	margin-top: .5em;
}

.in-list-pic {
	margin-left: -1.4em;
	margin-right: .5em;
	float: left;
}

.main {
	background: white;
}

.no-columns {
	/* margin-bottom: 10px; */
	padding: 0 0em;
}

.signature {
	text-align: right;
	font-style: italic;
}

/* box decoration rules */
header {
	margin: 0 1em;
}

:root {
	--border-width: 2px;
	--border-style: dashed;
	--border-color: lightgray;
}

.container {
	margin-top: 1em;
	/* margin-bottom: 1em; */
	border: var(--border-width) var(--border-style) var(--border-color);
	/* border-radius: 1em; */
}

.columns {
	column-rule: var(--border-width) var(--border-style) var(--border-color);
	column-gap: 0;
}

.block {
	border-top: var(--border-width) var(--border-style) var(--border-color);
	padding: 5px;

	&>* {
		margin: 0 10px;
	}
}

.highlight {
	background-color: violet;
	/* padding: 10px; */
}

/* picframe rules*/

img {
	vertical-align: bottom;
}

.picframe {
	position: relative;
}

.picframe>img {
	width: 100%;
}

.picframe>.caption {
	position: absolute;
	bottom: 0;
	width: 100%;
	padding: .3em;
	overflow: hidden;
	color: white;
	background: hsla(0, 0%, 0%, .4);
	/* color: transparent; */
	/* background: transparent; */
	transition: 1s;
	box-sizing: border-box;
}

.picframe:hover>.caption {
	/* transition: .3s; */
	color: white;
	background: hsla(0, 0%, 0%, .4);
}


/* blockquote rules */

blockquote,
q {
	font-size: 1.6em;
	font-family: serif;
	font-style: italic;
}

blockquote {
	text-align: center;
}

blockquote:before {
	color: #555;
	content: open-quote;
	font-size: 3em;
	line-height: 0;
	vertical-align: -0.4em;
}

blockquote:after {
	color: #555;
	content: close-quote;
	font-size: 3em;
	line-height: 0;
	vertical-align: -0.4em;
}

/* pre rules */

pre.code,
pre.csv,
pre.fixed {
	padding: 1em;
	background: #eee;
	border: thin solid lightgray;
}